body {
    background-color: #f8f9fa;
  }
  
  .card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.01);
  }

  .profile-image-wrapper {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #007bff;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-card {
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  }
  
  .profile-card h5 {
    margin-top: 20px;
  }
  
  .social-links a {
    margin-right: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }
  img.rounded-circle {
    object-fit: cover;
  }
  .social-link {
    margin-bottom: 15px;
  }
  
  .add-link,
  .remove-link {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .add-link {
    margin-top: 10px;
  }
  
  .remove-link {
    background-color: #dc3545;
    margin-top: 5px;
  }
  
  .remove-link:hover,
  .add-link:hover {
    opacity: 0.8;
  }
  